{% extends 'base.html' %}

{% block content %}
<div class="h-100 text-center d-flex p-3 bg-light">
    <div class="m-auto">
        <h1 class="title mb-5 font-weight-bold">Онлайн-магазин игр</h1>
        
        <div class="container">
            <div class="courses-list container-fluid mt-3 mb-3">
                {% for game in games %}
                    <div class="row p-3 border rounded mb-3">
                        <div class="col-md-3 mb-3 mb-md-0 d-flex align-items-center justify-content-center">
                        </div>
                        <div class="col-md-9 align-items-center">
                            <div class="d-flex">
                                <h4 class="text-uppercase">{{ game.name }}</h4>
                            </div>
                            <p>Жанр: {{ game.genre }}</p>
                            <p>Стоимость: {{ game.price }}</p>
                            {% if current_user.is_authenticated %}
                                <form action="{{ url_for('buy_game', game_id=game.id) }}" method="POST" style="display:inline;">
                                    
                                    <button type="submit" class="btn btn-primary">Приобрести</button>
                                </form>
                            {%endif%}
                            
                        </div>
                    </div>
                {% endfor %}
            </div>
        
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='delete.js')}}"></script>
{% endblock %}
